<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Model</title>
</head>
<body>
    <!-- {% for res in restaurants %}
        <p>{{res.name}}</p>
        {% for rating in res.rating.all %}
            <li>{{rating.rating}}</li>
        {% endfor %}
    {% endfor %} -->
    {% for rating in ratings %}

        
        <p>{{rating.restaurant.name}} - {{rating.rating}}</p>

        
    {% endfor %}
    
</body>
</html>